<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>login_register</servlet-name>
        <servlet-class>controllers.login_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controllers.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>schedule</servlet-name>
        <servlet-class>controllers.schedule</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_register</servlet-name>
        <url-pattern>/login_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>schedule</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>filmList</servlet-name>
        <servlet-class>controllers.film_list_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>filmList</servlet-name>
        <url-pattern>/filmList</url-pattern>
    </servlet-mapping>
</web-app>
